@using Microsoft.Ajax.Utilities
@model Wiki.Models.Biz.Article

@{
    ViewBag.Title = "Index";
}

<h1>
    @(Model == null ? "Welcome !" : Model.Titre)
</h1>
<hr />
@if (ViewBag.titre == null)
{
    using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <span class="control-label col-md-2">View article </span>
                <div class="col-md-10">
                    <input class="form-control" id="id" name="id" type="text" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input value="View" id="ViewArticle" class="btn btn-default">
                </div>
            </div>
        </div>
    }
}
else if (Model == null)
{
    <h2>Cet article n'existe pas</h2>
    @Html.ActionLink("Créer cet article", "Ajouter", new { id = ViewBag.titre })
}
else
{
    @Html.Raw(Model.Contenu);
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.DateModification)</dt>
        <dd>@Html.DisplayFor(model => model.DateModification)</dd>
        <dt>@Html.DisplayNameFor(model => model.Revision)</dt>
        <dd>@Html.DisplayFor(model => model.Revision)</dd>
        <dt>@Html.DisplayNameFor(model => model.IdContributeur)</dt>
        <dd>@Html.DisplayFor(model => model.IdContributeur)</dd>
    </dl>
    @Html.ActionLink("Edit", "Modifier", "Home", new { id = Model.Titre }, new { @class = "btn btn-default" })
}