@model TP2.Models.Toys
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Détails @Model.Id</h2>
<hr />
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Due)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Client)
            </td>
            <td>
                @Html.DisplayFor(model => model.Priority)
            </td>
            <td>
                @Html.DisplayFor(model => model.Creation)
            </td>
            <td>
                @Html.DisplayFor(model => model.Due)
            </td>
            <td>
                @Html.DisplayFor(model => model.ClosedDate)
            </td>
            <td>
                @if (Model.Done)
            { <span>Terminé</span> }
            else
            { <span>Incomplet</span> }
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Retour à la liste de tâche", "Index", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Éditer", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>
