@model TP1.Models.Task
@{
    ViewBag.Title = "delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Êtes-vous certain de vouloir supprimer cette tâche?</h3>
<hr />
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Done)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Id)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Client)
        </td>
        <td>
            @Html.DisplayFor(model => model.Priority)
        </td>
        <td>
            @Html.DisplayFor(model => model.Creation)
        </td>
        <td>
            @Html.DisplayFor(model => model.Due)
        </td>
        <td>
            @Html.DisplayFor(model => model.ClosedDate)
        </td>
        <td>
            @if (Model.Done)
            { <span>Terminée</span> }
            else
            { <span>Incomplète</span> }
        </td>
    </tr>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Retour à la liste de tâche", "Index", null, new { @class = "btn btn-primary" })
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </div>
}
