@model Wiki.Models.Views.UserLoginViewModel
@using Wiki.Resources.Models
@using Wiki.Resources.Views

<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Strings.SeConnecter<span class="caret"></span></a>
<ul class="dropdown-menu dropdown-connexion">
    <li>
        <div class="col-md-12">
            @using (Html.BeginForm("Connexion", "Utilisateurs", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(model => model.Courriel, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Courriel, htmlAttributes: new { @class = "form-control", type = "email", placeholder = StringsUserInscription.Courriel })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mdp, htmlAttributes: new { @class = "control-label" })
                    @Html.PasswordFor(model => model.Mdp, htmlAttributes: new { @class = "form-control", data_val = "false", placeholder = StringsUserInscription.Mdp })
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Cookie, htmlAttributes: new { @class = "checkbox", data_val = "false" })
                            @Strings.SouvenirMoi
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="@Strings.SeConnecter" class="btn btn-success form-control" />
                </div>
            }
        </div>
    </li>
    <li class="divider">
    </li>
    <li>
        @Html.ActionLink(Strings.MdpOublie, "", "Utilisateurs")
    </li>
</ul>