@using Wiki.Resources.Views
@model Wiki.Models.Views.UserLoginViewModel

@{
    ViewBag.Title = Strings.Connexion;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Connexion", "Utilisateurs", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ReturnUrl)
    <div class="form-horizontal">
        <h4>@Strings.InterfaceConnexion</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Courriel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Courriel, htmlAttributes: new { @class = "form-control", type = "email" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mdp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Mdp, htmlAttributes: new { @class = "form-control", data_val = "false" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Cookie", "Désirez-vous un cookie permanent?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Cookie, htmlAttributes: new { @class = "checkbox", data_val = "false" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("S'inscrire", "Inscription", "Utilisateurs", new { Model.ReturnUrl }, new { @class = "btn btn-default" })
                <input type="submit" value="@Strings.SeConnecter" class="btn btn-success"/>
            </div>
        </div>
    </div>
}

