@Styles.Render("~/Content/css")
<body class="col-xs-offset-1 col-xs-10">
    <header>
        <div class="navbar navbar-inverse navbar-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li id="acceuil">@Html.ActionLink("Toys4Us", "Index", "Home")</li>
                        <li id="listeToys">@Html.ActionLink("Jouets", "Index", "Toys")</li>
                        <li id="listeBrands">@Html.ActionLink("Compagnies", "Index", "Brands")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>
<section class="container body-content">
    @if (ViewBag.Error != null)
    {
        {
            Html.RenderPartial("_Error");
        }
    }
    @RenderBody()
</section>
    <footer>
        <p>&copy; @DateTime.Now.Year Nicolas Berbiche - TP2</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        var a = window.location.pathname;
        if (/^\/$/.test(a))
            $('#acceuil').addClass('active');
        else if (/^\/Toys.*$/i.test(a))
            $('#listeToys').addClass('active');
        else if (/^\/Brands.*$/i.test(a))
            $('#listeBrands').addClass('active');
        else if (/^\/Auth\/Create$/i.test(a))
            $('#registerLink').addClass('active');
        else if (/^\/Auth\/Login$/i.test(a))
            $('#loginLink').addClass('active');
    </script>
</body>