@model CarnetAddresse.Models.Contact

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer ceci?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.LabelFor(model => model.Id)
            </th>
            <th>
                @Html.LabelFor(model => model.Nom)
            </th>
            <th>
                @Html.LabelFor(model => model.Telephone)
            </th>
            <th>
                @Html.LabelFor(model => model.Courriel)
            </th>
            <th>
                @Html.LabelFor(model => model.DateNaissance)
            </th>
            <th>
                @Html.LabelFor(model => model.CodePostal)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nom)
            </td>
            <td>
                @Html.DisplayFor(model => model.Telephone)
            </td>
            <td>
                @Html.DisplayFor(model => model.Courriel)
            </td>
            <td>
                @Html.DisplayFor(model => model.DateNaissance)
            </td>
            <td>
                @Html.DisplayFor(model => model.CodePostal)
            </td>
        </tr>

    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </div>
    }
</div>
