@model CarnetAddresse.Models.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détails</h2>

<div>
	<h4>Contact</h4>
	<hr />
	<table class="table">
		<tr>
			<th>
				@Html.LabelFor(model => model.Id)
			</th>
			<th>
				@Html.LabelFor(model => model.Nom)
			</th>
			<th>
				@Html.LabelFor(model => model.Telephone)
			</th>
			<th>
				@Html.LabelFor(model => model.Courriel)
			</th>
			<th>
				@Html.LabelFor(model => model.DateNaissance)
			</th>
			<th>
				@Html.LabelFor(model => model.CodePostal)
			</th>
		</tr>
		<tr>
			<td>
				@Html.DisplayFor(model=> model.Id)
			</td>
			<td>
				@Html.DisplayFor(model => model.Nom)
			</td>
			<td>
				@Html.DisplayFor(model => model.Telephone)
			</td>
			<td>
				@Html.DisplayFor(model => model.Courriel)
			</td>
			<td>
				@Html.DisplayFor(model => model.DateNaissance)
			</td>
			<td>
				@Html.DisplayFor(model => model.CodePostal)
			</td>
		</tr>

	</table>

</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
