@model List<CarnetAddresse.Models.Contact>

@{
	ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<h2>Index</h2>

<hr />
@using (Html.BeginForm("", "Contact", FormMethod.Get))
{
	@Html.Label("q", "Rechercher : ")
	@Html.TextBox("q")
}
@Html.ActionLink("Create New", "Create")
@if (ViewBag.q != null && ViewBag.q)
{
	@Html.ActionLink("Back to List", "Index")
}
<br><br>
<table class="table">
	<tr>
		<th>
			@Html.Label("Id", "Id")
		</th>
		<th>
			@Html.Label("Nom", "Nom")
		</th>
		<th>
			@Html.Label("Telephone", "Téléphone")
		</th>
		<th>
			@Html.Label("Courriel", "Courriel")
		</th>
		<th>
			@Html.Label("DateNaissance", "Date de naissance")
		</th>
		<th>
			@Html.Label("CodePostal", "Code postal")
		</th>
		<th colspan="3"></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nom)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Telephone)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Courriel)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DateNaissance)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CodePostal)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.id })
			</td>
			<td>
				@Html.ActionLink("Details", "Details", new { id = item.id })
			</td>
			<td>
				@Html.ActionLink("Delete", "Delete", new { id = item.id })
			</td>
		</tr>
	}

</table>
